##########################################################################
####    Requirements of this application
##########################################################################

# python3

requests